.intro{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 50px 0 0 45px;
}
.information-section{
    display: flex;
    flex-direction: column;
    width: 33%;
    align-self: flex-start;
}
.information{
    font-family: Poppins;
    font-size: 21px;
    margin-top: -10px;
}
.the-creative-crew {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    width: 40%;
}
.who-we-are {
    font-family: Poppins;
    font-weight:900;
    font-size:20px ;
}
.section-one{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-left: 40px;
}
img {
    width: 70%;
    margin-top: -83px;
}
.name{
    font-family: Poppins;
    font-weight: bolder;
}
.product-owner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 25%;
}
.bill-mahoney-destination{
    align-self: center;
    padding-bottom: 10px;
    margin-right: -150px;
    margin-top: 55px;
    height: fit-content;
    transform: rotateZ(90deg);
}
.art-director {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 25%;
}
.Saba-Cabrera-image{
    margin-top: -5px; 
}
.art-director-destination{
    align-self:center;
    padding-bottom: 10px;
    margin-right: -150px;
    margin-top: 180px;
    height: fit-content;
    transform: rotateZ(90deg);
}
.tech-lead{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 25%;
}
.tech-lead-line{
    align-self: center;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-right: 19px;
    margin-right: -150px;
    margin-top: 23px;
    transform: rotateZ(90deg);
}

.section-two{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-left: 40px;
}
.ux-designer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 25%;
}
.griff-developer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 25%;
}
.griff-richard-image{
    margin-top: 6px ;
}
.griff-destination{
    align-self: center;
    padding-bottom: 10px;
    margin-right: -150px;
    margin-top: 180px;
    height: fit-content;
    transform: rotateZ(90deg);
}

.stan-developer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 25%;
}
.skylah-lu-stan-destination{
    align-self: center;
    padding-bottom: 10px;
    margin-right: -150px;
    margin-top: 55px;
    height: fit-content;
    transform: rotateZ(90deg);
}
.stan-john-image{
    padding-top: 8px ;
}
.stan-destination{
    align-self: center;
    padding-bottom: 10px;
    margin-right: -150px;
    margin-top: 45px;
    height: fit-content;
    transform: rotateZ(90deg);
}
.end-footer{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: 	#888888;
}